/* YOUR CUSTOM STYLES */
html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/
body{
  background-color: #f9f9f9;
}

.navbar {
  background-color: rgba(225, 225, 225,.5);
}

.top-nav-collapse {
    background-color: #00668e;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #00668e;
    }
}
/*Intro*/

.view {
    background: url("img/InicioIntercom.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 5%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}
.divider{
  border-bottom: 1px;
  color: #fff;
}
.parallax {
    /* The image used */
    background-image: url("img/Colombia_dos.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13em!important;
    color:white;
}
.telefonia {
    /* The image used */
    background-image: url("img/road.png");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 539px) {
    .telefonia {
        height: 100%;
    }
}
.hm-black-light .full-bg-img{
    background-color: rgba(0,0,0,.5)!important;
}
.divider-new::after, .divider-new::before {
    content: '';
    height: 1px;
    background: #cccccc;
}
.hr-dark{
  height: 1px;
  background: #cccccc;
}
.icon{
  color:#00668e;
}
.logo{
  width: 100%;
  padding-top: 5em;
}
@media (max-width: 539px) {
    .logo {
        height: 50% !important;
    }
}

.logo .movS{
  padding-top: 10px;
}
